<% content_for :header do %>
	<h1> <%= @title = 'Editing Admin ' + @admin.name %></h1>
<% end %>

<%= render 'form' %>

<br />

<div class="bottom_nav">
<%= link_to image_tag('show.png', :class => 'action') + ' Show Admin', @admin %> |
<%= link_to image_tag('back.png', :class => 'action') + ' To Admin List', admins_path %>
</div>