<h1><%= @title = 'Creating New Admin' %></h1>

<%= render :partial => 'shared/flash', :locals => { :flash => flash } %>

<br />

<%= render 'form' %>

<br />

<div id="new_clicker_footer">
<%= link_to 'Back', admins_path %>
</div>