<% content_for :header do %>
	<h1><%= @title = 'Creating New Admin' %></h1>
<% end %>

<%= render 'form' %>

<br />

<div class="bottom_nav">
<%= link_to image_tag('back.png', :class => 'action') + ' To Admin List', admins_path, :title => 'To admin list.' %>
</div>