html, body {
	height:100%;
}

body { 
	background-color: darkolivegreen;
	color: darkgreen;
}

body, p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size:   13px;
	line-height: 18px;
}

h1 {
	text-align: center;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a { 
	color: darkgreen;
	text-decoration: none;
}

a:visited {
	 color: darkgreen;
}

a:hover {
	color: lightgreen;
	background-color: darkgreen;
}

div.field, div.actions {
	margin-bottom: 10px;
}

#main {
	width: 85%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: lightgreen; 
	border: 1px solid #000;
}


#main table tr.top, div.top {
	background-color: midnightblue;
}
#main div.top {
	background-color: midnightblue;
	color: lightgreen;
	text-align: center;
	width: 75%;
	margin-right: auto;
	margin-left: auto;
	font-weight: bold;
	font-size: 15px;
}

#main table tr.top th {
	color: lightgreen;
}

#main table tr.evenrow {
	background-color: lightgreen; 
}

#main table tr.oddrow {
	background-color: darkseagreen; 
}

#main 
	table.user_list, #start_form, #new_user_button, 
	div.clicker_form, #user_details, div.bottom_nav, 
	div.devise_forms
	{
		width: 75%;
		margin-left: auto;
		margin-right: auto;
	}
	
textarea.batch_users {
	height:200px;
	width:100%;
}

#main #nav_bar_div {
	width: 100%;
	color: darkgreen;
	text-decoration: none;
	background-color: lightgreen; 
}

img.action {
	width:16px;
	height:16px;
	margin-bottom: -3px;
}

input.action {
	width:20px;
	height:20px;
	margin-bottom: -3px;
}

#main #nav_bar {
	list-style-type: none;
	text-align: right;
	margin: 0;
	padding: 0;
	padding-right: 10px;
}

#main #nav_bar li{
	display: inline;
}

#flash {
	width: 40%;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
}

#notice {
	color: darkgreen;
	background-color: lightgreen; 
	border: 1px solid darkgreen; 
}

#error {
	color: darkred;
	background-color: lightpink;
	border: 1px solid darkred;
}

#alert {
	color: darkred;
	background-color: lightpink;
	border: 1px solid darkred;
}

#notice, #error, #alert { 
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

#notice a { 
	border: 1px solid #26722D; 
	color: darkgreen;
}

#error a, #alert a { 
	border: 1px solid #900; 
	color: darkred; 
}

#notice a:hover, #error a:hover {
	color: #333;
	border: 1px solid #333;
}

table td.name {
	width: 175px;
	text-align: left;
	padding-left: 10px;
}

table td.centered {
	text-align: center;
	width:auto;
}

table td.centered-crud,
table td.centered-click {
	text-align: center;
	width: 25px;
}

table td.centered-crud a ,
table td.centered-crud a a:hover {
	background-color: transparent;
}

#main form.click_user {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

div.footer{
	text-align: center;
}

#main div.click_frame {
	text-align:center;
}

#main div.click_frame frame {
	width: 100%;
	height:100%;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #c00;
	color: #fff;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}

.simple_form label {
  float: left;
  width: 110px;
  text-align: right;
  margin: 2px 10px;
}

.simple_form input[type='password'],
.simple_form input[type='text'],
.simple_form input[type='url'],
.simple_form input[type='email'] {
 	width: 200px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 130px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 135px;
  font-size: 12px;
  color: darkgreen;
  display: block;
  font-style: italic;
}
