<% content_for :header do %>
	<h1><%= @title = "Clicker" %></h1>
<% end %>

<p><div class="top_forms">
	<%= render :partial => 'search' %>
	<div class="clear"></div>
</div>
</p>

<p><%= render :partial => 'table', :locals => { :users => @users, :title => 'Clickers', :sortable => true, :click_button => false, :creditable => true, :legend => false } %></p>

</table>