<div id="flash">
<%- flash.each do |key, msg| -%>
	<div id="<%= key %>">
		<%= msg %>
	</div>
	<script type="text/javascript">
	    setTimeout("new Effect.Fade('<%= key %>');", 1500)
	</script>
<%- end -%>
</div>